body {
	background-color: #ffffff;
	color: #000000;
	font-family: "Arial", sans-serif;
	font-size: 12pt;
}

h2 {
	font-family: "Arial", sans-serif;
	font-size: 16pt;
}

h3 {
	font-family: "Arial", sans-serif;
	font-size: 14pt;
}

#header, #nav, #news, #footer {
	display: none;
}